In [ ]:
# Instala la librería matplotlib si no está instalada
!pip install matplotlib

In [ ]:
# Importación de librerías necesarias para el análisis de datos y visualización\import pandas as pd
import sys  # No se usa explícitamente
import datetime as dt  # No se usa explícitamente
import numpy as np  # No se usa explícitamente
import matplotlib.pyplot as plt
import matplotlib

# Habilita que las gráficas se vean dentro del notebook
%matplotlib inline

In [ ]:
# Crear un DataFrame simple con columnas 'a' y 'b'
mi_df = pd.DataFrame({'a': [11, 12, 13], 'b': [21, 22, 23]})
print(mi_df)

In [ ]:
# Crear un DataFrame desde un diccionario
# Contiene información de ciudades, capitales y zonas
data = {'ciudad': ['Loja', 'Pichincha', 'Guayas'],
        'capital' : ['Loja', 'Quito', 'Guayaquil'],
        'zona'  : [7, 8, 1]}
frame = pd.DataFrame(data)
frame

In [ ]:
# Definir una lista con nombres de columnas para futuros DataFrames
columnas = ['nombres','apellidos','cedula']

In [ ]:
# Lista de datos con nombres, apellidos y cédulas
lista = [['rene', 'elizalde', '11041260'],
        ['rolando', 'solano', '11041261'],]

In [ ]:
# Crear un DataFrame con los datos de la lista y las columnas definidas
data = pd.DataFrame(lista, columns=columnas)

In [ ]:
# Mostrar el DataFrame creado
data

In [ ]:
# Crear otra lista con más datos similares
lista2 = [['rene2', 'elizalde2', '11041263'],
        ['rolando2', 'solano2', '11041264'],]

In [ ]:
# Crear otro DataFrame con la segunda lista
data2 = pd.DataFrame(lista2, columns=columnas)

In [ ]:
# Mostrar el segundo DataFrame
data2

In [ ]:
# Unir ambos DataFrames (uno debajo del otro)
data3 = pd.concat([data, data2])

In [ ]:
# Mostrar el DataFrame combinado
data3

In [ ]:
# Crear un DataFrame adicional con datos geográficos asociados a las cédulas
data5 = pd.DataFrame({'cedula': ['11041260', '11041261', '11041263', '11041266'],
 	'Ciudad': ['Guayaquil', 'Cuenca', 'Quito', 'Loja'],
	'Provincia': ['Guayas', 'Azuay', 'Pichincha', 'Loja']})

In [ ]:
# Mostrar el DataFrame con ubicación
data5

In [ ]:
# Fusionar los DataFrames por la columna 'cedula'
result = pd.merge(data3, data5, on='cedula')

In [ ]:
# Mostrar el resultado de la fusión
result

In [ ]:
# Crear un nuevo DataFrame geográfico (más reducido que data5)
data6 = pd.DataFrame({'cedula': ['11041260', '11041261', '11041263'],
 	'Ciudad': ['Guayaquil', 'Cuenca', 'Quito'],
	'Provincia': ['Guayas', 'Azuay', 'Pichincha']})
data6